.card-project {
  a {
    text-decoration: none;
  }
  h6 {
    color: rgb(173, 68, 86);
  }
  img {
    height: 200px;
    width: 300px;
    border-radius: 8px;
  }
}

.card-b {
  background-color: rgba(255, 192, 203, 0.719);
  padding: 8px;
  border-radius: 8px;
  height: 250px;
  width: 320px;
}
